/* @option user-selected title bar style setting */

#headerWrapper {
	border-bottom: none;
}

#headerFill {
	display: none !important;
}

#siteTitle h1,
#nav {
	padding: 0px;
}

#nav ul ul {
	border-top: none;
}