
#stacks_in_242_page7 {
	padding:  7px;
}

#stacks_in_120_page7 .stacks_left {
	float:left;
	width:49%;
}

#stacks_in_120_page7 .stacks_right {
	float:right;
	width:49%;
}
#stacks_in_120_page7 {
	padding:  10px;
}

#stacks_in_130_page7 {
	padding:  5px;
}

#stacks_in_132_page7 {
	padding:  5px;
}
