/* @option user-selected miscellaneous theme style setting */

/* Remember to include the following in the theme index.html file, to ensure < IE9 continues to display the hidden container:
<!--[if lte IE 9]><style type="text/css">#pageWrapper{display: block;}</style><![endif]-->
/*

/* CSS needed for the fade-in animation */
#pageWrapper {
	display: none;
}

@media print {
	#pageWrapper {
		display: block;
		opacity: 1.00;
	}
}