/* Preview theme ExtraContent containers */

/* Basic previewing styles */

div[id*='extraContainer'] {
	border: 2px dotted red;
	position: relative;
}

div[id*='extraContainer']:before {
	display: block;
	margin: 0px auto;
	background: rgba(0, 0, 0, .50);
	color: white;
	text-align: center;
	font: 12px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	line-height: 20px;
	position: relative;
	z-index: 999;
	padding: 0;
}

/* Titles for each ExtraContent container */

#extraContainer1:before {content: 'ExtraContent Container 1';}
#extraContainer2:before {content: 'ExtraContent Container 2';}
#extraContainer3:before {content: 'ExtraContent Container 3';}
#extraContainer4:before {content: 'ExtraContent Container 4 (FreeStyle Banner for images, video and slideshows)';}
#extraContainer5:before {content: 'ExtraContent Container 5 (Banner Content Box)';}
#extraContainer6:before {content: 'ExtraContent Container 6 (Upper Horizontal Container)';}
#extraContainer7:before {content: 'ExtraContent Container 7';}
#extraContainer8:before {content: 'ExtraContent Container 8 (Lower Horizontal Container)';}
#extraContainer9:before {content: 'ExtraContent Container 9 (Footer Horizontal Container)';}
#extraContainer10:before {content: 'ExtraContent Container 10';}

/* Force display of containers and apply misc. styling */

#socialBar {
	display: block;
	height: auto;
	background: #333333;
}

#socialBarBackground {
	height: 0px;
}

#bannerContentBox {
	display: block;
	position: absolute;
	top: 150px;
	right: 50px;
}

#upperHorizontalBar,
#middleHorizontalBar,
#lowerHorizontalBar,
#footerContainer {
	display: block;
}