/* @option user-selected miscellaneous theme setting */

header, #upperHorizontalBar, aside, #middleHorizontalBar, #lowerHorizontalBar, #backToTopWrapper, footer {
	display: none !important;
}

html, body {
	height: 100%;
	margin: 0;
	padding: 0;
}

.SolsticeWidth {
	width: auto;
	max-width: none;
}

#extraContainer4 img,
#freeStyle img {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	max-width: none;
	max-height: none;
}

#parallaxContainer {
	background: none !important;
	position: fixed;
	bottom: 0;
	left: 0;
	margin: 5%;
	*margin: 0px;
	max-height: 100%;
	overflow: auto;
}

#contentContainer #content {
	background: #ffffff;
	background: rgba(255, 255, 255, .65);
	text-align: center;
	margin: 0;
	padding: 2%;
	width: auto;
}