/* @option User selected CSS3 content columns (supported in CSS3-compliant browsers only) */

#contentContainer #contentWrapper {
	column-count: 2;
    -moz-column-count: 2;  
    -webkit-column-count: 2;
    column-gap: 25px;   
    -moz-column-gap: 25px;  
    -webkit-column-gap: 25px; 
}