/* BootSnap3 Contact v.3.0.0 Stylesheet - MODIFIED: 2014-05-13 13:31:45 */

#stacks_in_118_page2 label span.required {
  color: #B94A48;
}



#stacks_in_118_page2 .bs3-contact-status {
  display:none;
}

#stacks_in_118_page2-auto-reply-msg {
  display:none;
}


#stacks_in_118_page2 {
	margin:  20px;
}





#stacks_in_110_page2 {
	margin:  20px;
}

#stacks_in_113_page2 {
	margin:  20px;
}

#stacks_in_116_page2 {
	margin:  20px;
}
