#pageStripe, .spacer, #logoFixedLeft, #logoFixedRight, #logoAbsoluteLeft, #logoAbsoluteRight, #backgroundElement, #titleLogo, #headerLogo, #mainNav, #megamenu, #bannerOuter, #siteSloganLeft, #siteSloganRight, #headerSearch, #sideSearch, #footerNav, #breadcrumb, #gradient, #navBlock, .raftNavWrapper, #navSource, #splitNav, #blockNav, #backToTopWrapper, #socialBar, .taglineSpacer {
	display: none !important;
}

body {
	font: 12pt/1.3em "Spranq eco sans", "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	color: #000000;
}

.SolsticeWidth {
	width: auto;
	max-width: none;
}

#main {
	padding: 0px;
}

#headerWrapper {
	float: none;
	display: block;
	position: relative !important;
	width: auto;
}

#contentContainer,
#header {
	padding: 0;
	margin: 0;
}

#siteTitle h1,
#siteSlogan,
#siteSlogan h2 {
	display: block;
	position: relative;
	height: auto;
	font-size: 12pt;
	padding: 0;
	margin: 0;
	border: none;
	float: none;
}

#siteSlogan {
	color: #000000 !important;
	margin-bottom: 20px;
}

#contentContainer #content {
	margin-right: 0 !important;
	margin-left: 0 !important;
	float: none !important;
	width: 100% !important;
	color: #000000 !important;
}

#aside {
	display: block;
	margin: 0px;
	padding: 0px;
	overflow: hidden;
	float: none !important;
	width: 100% !important;
}

#sidebarTitle {
	line-height: 1.00em;
	font-size: 14pt;
	padding: 0;
	margin: 0;
	color: #000000;
}

#sidebar {
	color: #000000 !important;
}

a, 
a:visited {
	color: #0000ff;
}

a:link:after,
a:visited:after {
  content: " (" attr(href) ") ";
  font-size: 90%;
}

#footer {
	padding-top: 20px;
}