/* @group General */

body {
	padding: 0;
	margin: 0;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
}

.row {
	margin: 0;
}

a {
	text-decoration: none;
	outline: none;
	border: none;
	-webkit-transition: color .25s linear;
	transition: color .25s linear;
}

a:visited {
	text-decoration: none;
	outline: none;
}

a:hover {
	text-decoration: underline;
	outline: none;
}

a:active {
	text-decoration: underline;
	outline: none;
}

/* @end */

/* @group FreeStyle and ExtraContent Functionality */

/* Hide FreeStyle and ExtraContent containers, unless they are in their designated placeholders */
#contentWrapper #fs,
#sidebar #fs,
#contentWrapper div[id*='myExtraContent'],
#sidebar div[id*='myExtraContent'] {
	display: none;
}

/* @end */

/* @group Social Bar */

#socialBar {
	height: 25px;
	z-index: 300;
	width: 100%;
	display: none;
	font-size: 12px;
	text-align: right;
}

#socialBarBackground {
	height: 25px;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 301;
}

#socialBarSpacer {
	display: block;
	width: 100%;
	position: relative;
}

#extraContainer1 {
	display: block;
	position: relative;
	z-index: 302;
}

#socialBar a {
	text-decoration: none;
	-webkit-transition: all 500ms;
	-moz-transition: all 500ms;
	-o-transition: all 500ms;
	-ms-transition: all 500ms;
	transition: all 500ms;
}

#socialBar [class^="fa fa-"],
#socialBar a [class^="fa fa-"],
#socialBar a:hover [class^="fa fa-"] {
	text-decoration: none;
	-webkit-transition: all 500ms;
	-moz-transition: all 500ms;
	-o-transition: all 500ms;
	-ms-transition: all 500ms;
	transition: all 500ms;
}

/* @end */

/* @group Logo Image Placeholders */

#logoFixedLeft {
	position: fixed;
	top: 0px;
	left: 0px;
	z-index: 200;
	display: none;
}

#logoFixedRight {
	position: fixed;
	top: 0px;
	right: 0px;
	z-index: 200;
	display: none;
}

#logoAbsoluteLeft {
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 200;
	display: none;
}

#logoAbsoluteRight {
	position: absolute;
	top: 0px;
	right: 0px;
	z-index: 200;
	display: none;
}

#titleLogo {
	display: none;
	position: relative;
	text-align: left;
}

#logoTopLeft {
	position: absolute;
	top: 15px;
	left: 15px;
	z-index: 200;
	display: none;
}

#logoTopRight {
	position: absolute;
	top: 15px;
	right: 15px;
	z-index: 200;
	display: none;
}

#logoBottomLeft {
	position: absolute;
	bottom: 15px;
	left: 15px;
	z-index: 200;
	display: none;
}

#logoBottomRight {
	position: absolute;
	bottom: 15px;
	right: 15px;
	z-index: 200;
	display: none;
}

#headerLogo {
	display: none;
}

/* @end */
/* @group Extra Content Containers */

.ecName {
	display: none;
	border: 2px solid #ff0000;
}

#extraContainer4 {
	display: block;
	position: relative;
}

#extraContainer9 {
	position: relative;
	z-index: 20;
}

#extraContainer10 {
	display: block;
	position: absolute;
	top: 30px;
	right: 0;
	text-align: right;
}

/* @end */

/* @group Main Wrappers, Padding and Clearers */

#pageWrapper {
	min-height: 100%;
	height: 100%;
}

#wrapperOuter {
	min-height: 100%;
}

#main {
	position: relative;
	margin: 0 auto;
	padding: 0;
}

#parallaxContainer {
	z-index: 10;
	position: relative;
	padding-top: 40px;
	padding-bottom: 40px;
}

.SolsticeWidth {
	margin: 0 auto;
}

.SolsticeClearer {
	clear: both;
}

.SolsticePadding {
	margin-left: 10px;
	margin-right: 10px;
}

.SolsticeSpacer {
	height: 50px;
	display: block;
	position: relative;
}

/* @end */

/* @group Header */

#headerWrapper {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	display: block;
	z-index: 20;
}

#headerFill {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 21;
	display: block;
	opacity: 0.90;
}

#headerWrapper.smaller #headerFill {
	opacity: 1.00;
}

#header {
	position: relative;
	display: block;
	z-index: 100;
	height: auto;
}

#headingPadding {
	margin: 30px 10px;
	z-index: 25;
	display: block;
	height: auto;
	overflow: hidden;
	padding-bottom: 0px;
}

#headerContent {
	display: block;
	position: relative;
	float: left;
}

h1#siteTitle {
	padding: 0;
	margin: 0;
	line-height: 1.20em;
	font-size: 30px;
}

h1#siteTitle a {
	text-decoration: none;
	font-weight: normal;
	font-style: normal;
	line-height: 1.10em;
	padding: 0;
	margin: 0;
}

h2#siteSlogan {
	font-weight: normal;
	font-style: normal;
	text-decoration: none;
	line-height: 1.10em;
	padding: 0;
	margin: 0;
	font-size: 105%;
}

/* @end */

/* @group Banner Container */

#bannerOuter {
	display: block;
	position: relative;
	z-index: 1;
	padding: 0;
	min-height: 120px;
}

#bannerWrapper {
	display: block;
	position: relative;
	z-index: 2;
	margin: 0 auto;
	padding: 0;
}

#bannerBorder {
	margin: 0;
	padding: 0;
}

#banner {
	display: block;
	position: relative;
	z-index: 3;
}

#banner img {
	max-width: 100%;
	height: auto;
	-ms-interpolation-mode: bicubic;
}

#banner .carousel {
	margin: 0;
}

/* FreeStyle banners */
#freeStyle img {
	width: 100%;
	height: auto;
	-ms-interpolation-mode: bicubic;
}

#bannerContentBox {
	position: absolute;
	width: 33%;
	height: auto;
	display: none;
	z-index: 100;
	padding: 15px;
}

#bannerBoxBackground {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
	display: block;
	height: 100%;
	width: 100%;
}

#bannerContentBox h1,
#bannerContentBox h2,
#bannerContentBox h3,
#bannerContentBox h4,
#bannerContentBox h5,
#bannerContentBox h6 {
	font-weight: normal;
	font-style: normal;
	text-decoration: none;
	padding-bottom: 5px;
	line-height: 1.25em;
}

#bannerContentBox a {
	color: #5e5e5e;
}

#bannerContentBox a:hover {
	color: #eaeaea;
}

#extraContainer5 {
	padding: 25px;
	font-size: 110%;
	z-index: 10;
	display: block;
	position: relative;
}

/* @end */

/* @group Horizontal Content Containers */

#upperHorizontalBar {
	width: 100%;
	display: none;
	position: relative;
	background-color: #e6e6e6;
}

#upperHorizontalBarContainer {
	display: block;
	position: relative;
	padding: 25px 0;
}

#upperHorizontalBarContainer h1 {
	font-size: 2.00em;
	font-weight: bold;
}

#upperHorizontalBarContainer h2 {
	font-size: 1.75em;
	font-weight: bold;
}

#upperHorizontalBarContainer h3 {
	font-size: 1.50em;
	font-weight: bold;
}

#upperHorizontalBarContainer h4 {
	font-size: 1.25em;
	font-weight: bold;
}

#upperHorizontalBarContainer h5 {
	font-size: 1.00em;
	font-weight: bold;
}

#upperHorizontalBarContainer h6 {
	font-size: 0.75em;
	font-weight: bold;
}

#lowerHorizontalBar {
	width: 100%;
	display: none;
	position: relative;
	background-color: #e6e6e6;
	margin-top: 50px;
}

#lowerHorizontalBarContainer {
	display: block;
	position: relative;
	padding: 25px 0;
}

#lowerHorizontalBarContainer h1 {
	font-size: 2.00em;
	font-weight: bold;
}

#lowerHorizontalBarContainer h2 {
	font-size: 1.75em;
	font-weight: bold;
}

#lowerHorizontalBarContainer h3 {
	font-size: 1.50em;
	font-weight: bold;
}

#lowerHorizontalBarContainer h4 {
	font-size: 1.25em;
	font-weight: bold;
}

#lowerHorizontalBarContainer h5 {
	font-size: 1.00em;
	font-weight: bold;
}

#lowerHorizontalBarContainer h6 {
	font-size: 0.75em;
	font-weight: bold;
}

#footerContainer {
	display: none;
	position: relative;
	padding-top: 25px;
	padding-bottom: 25px;
	overflow: hidden;
	z-index: 0;
}

#footerContainer h1 {
	font-size: 2.00em;
	font-weight: bold;
}

#footerContainer h2 {
	font-size: 1.75em;
	font-weight: bold;
}

#footerContainer h3 {
	font-size: 1.50em;
	font-weight: bold;
}

#footerContainer h4 {
	font-size: 1.25em;
	font-weight: bold;
}

#footerContainer h5 {
	font-size: 1.00em;
	font-weight: bold;
}

#footerContainer h6 {
	font-size: 0.75em;
	font-weight: bold;
}

/* @end */

/* @group Drop-Down Navigation */

#navContent {
	margin-bottom: -8px;
}

#mainNav {
	display: block;
	z-index: 150;
	position: relative;
	height: auto;
	z-index: 100;
	padding: 0;
	margin: 0;
	font-size: 90%;
}

#mainNav ul {
	display: inline;
	position: relative;
	margin: 0;
	list-style: none;
	z-index: 100;
	padding: 0;
}

#mainNav li {
	float: left;
	position: relative;
	line-height: 25px;
	display: block;
	margin: 0;
	padding: 0;
	width: 120px;
	text-align: center;
}

#mainNav a {
	display: block;
	text-decoration: none;
	z-index: 20;
	padding: 10px 0 0;
	-webkit-transition: color .25s linear;
	transition: color .25s linear;
}

#mainNav a.nolink {
	cursor: default;
}

#mainNav a:hover {
	color: #a9a9a9;
	text-decoration: none;
}

#mainNav li.active,
#mainNav li a.current,
#mainNav li a.currentAncestor {
	font-weight: bold;
}

/* Icons */

#mainNav a i[class^="fa fa-"] {
	color: #c1c1c1;
	width: 35px;
	height: 35px;
	line-height: 35px;
	text-align: center;
	border-radius: 35px;
	-webkit-border-radius: 35px;
	border: 1px solid #c1c1c1;
	display: block;
	font-size: 22px;
	padding: 0;
	margin: 0 auto;
	-webkit-transition: all .25s linear;
	transition: all .25s linear;
}

#mainNav li:hover i[class^="fa fa-"] {
	color: #4c4c4c;
	background: #b3b3b3;
	border: 1px solid #b3b3b3;
}

#mainNav li.active a i[class^="fa fa-"],
#mainNav a.current i[class^="fa fa-"],
#mainNav a.currentAncestor i[class^="fa fa-"] {
	color: #4c4c4c;
	background: #b3b3b3;
	border: 1px solid #b3b3b3;
}

/* Second Level */
#mainNav ul ul {
	position: absolute;
	left: 50%;
	padding: 0;
	margin: 10px 0 0;
	z-index: 149;
	height: auto;
	
	opacity: 0;
	visibility: hidden;
	-webkit-transition: all .5s ease-in-out;
	transition: all .5s ease-in-out;
	
	
}

#mainNav ul ul i[class^="fa-"] {
	display: none;
}

#mainNav ul ul li {
	position: relative;
	line-height: 2.50em;
	margin: 0;
	padding: 0;
	display: block;
	width: 190px;
	text-align: left;
}

#mainNav ul ul li span.arrow {
	position: absolute;
	top: 0;
	right: 10px;
	padding: 0;
	margin: 0;
}

#mainNav ul ul li a {
	float: none;
	display: block;
	line-height: 1.25em;
	padding: 10px 15px;
	text-transform: none;
	font-size: 100%;
}

/* Third level and lower */
#mainNav ul ul ul {
	background: #fff;
	top: -1px;
	border-top: 1px solid #eaeaea;
	left: 190px;
	padding: 0;
	margin: 0;
	margin-left: 10px;
	opacity: 0;
	visibility: hidden;
	-webkit-transition: all .5s ease-in-out;
	transition: all .5s ease-in-out; 
}

#mainNav ul ul ul li {
	margin: 0;
	padding: 0;
}

#mainNav ul ul ul li a {
	display: block;
}

#mainNav>ul>li:hover>ul,
#mainNav>ul>li>ul>li:hover>ul, 
#mainNav>ul>li>ul>li>ul>li:hover>ul, 
#mainNav>ul>li>ul>li>ul>li>ul>li:hover>ul {
	opacity: 1;
	visibility: visible;
	margin-top: 0;
}

.touchDevice #mainNav ul ul,
.touchDevice #mainNav ul ul ul {
	opacity: 1.00;
	visibility: visible;
	-webkit-transition: none;
	transition: none;
	/* margin: 0; */
	display: none;
}

.touchDevice #mainNav>ul>li:hover>ul,
.touchDevice #mainNav>ul>li>ul>li:hover>ul, 
.touchDevice #mainNav>ul>li>ul>li>ul>li:hover>ul, 
.touchDevice #mainNav>ul>li>ul>li>ul>li>ul>li:hover>ul {
	opacity: 1.00;
	visibility: visible;
	-webkit-transition: none;
	transition: none;
	/* margin: 0; */
	display: block;
}

/* @end */

/* @group Smooth-Scrolling Navigation */

#smoothScrollerNav {
	display: block;
	z-index: 150;
	position: relative;
	height: auto;
	z-index: 100;
	padding: 0;
	margin: 0;
	font-size: 90%;
}

#smoothScrollerNav ul {
	display: inline;
	position: relative;
	margin: 0;
	list-style: none;
	z-index: 100;
	padding: 0;
}

#smoothScrollerNav li {
	float: left;
	position: relative;
	line-height: 25px;
	display: block;
	margin: 0;
	padding: 0;
	width: 120px;
	text-align: center;
}

#smoothScrollerNav a {
	display: block;
	text-decoration: none;
	z-index: 20;
	padding: 10px 0 0;
	text-transform: uppercase;
	-webkit-transition: color .25s linear;
	transition: color .25s linear;
}

#smoothScrollerNav a:hover {
	color: #a9a9a9;
	text-decoration: none;
}

#smoothScrollerNav li.active {
	font-weight: bold;
}

/* Icons */

#smoothScrollerNav a i[class^="fa fa-"] {
	color: #c1c1c1;
	width: 35px;
	height: 35px;
	line-height: 35px;
	text-align: center;
	border-radius: 35px;
	-webkit-border-radius: 35px;
	border: 1px solid #c1c1c1;
	display: block;
	font-size: 22px;
	padding: 0;
	margin: 0 auto;
	-webkit-transition: all .25s linear;
	transition: all .25s linear;
}

#smoothScrollerNav li:hover i[class^="fa fa-"] {
	color: #4c4c4c;
	background: #b3b3b3;
	border: 1px solid #b3b3b3;
}

#smoothScrollerNav li.active a i[class^="fa fa-"] {
	color: #4c4c4c;
	background: #b3b3b3;
	border: 1px solid #b3b3b3;
}

/* @end */

/* @group RAFT Toggle Navigation */

.raftNavWrapper {
	display: none;
	position: relative;
	border: 1px solid #D3D3D3;
	margin-bottom: 10px;
}

.raftNavTitle {
	display: block;
	position: relative;
}

.raftNavTitle h3 {
	font-size: 18px;
	padding: 0 12px;
	margin: 0;
	line-height: 50px;
	font-weight: bold;
	background: #E9E9E9;
	color: #3F3F3F;
}

.raftNavWrapper .raftNavArrow.closedState .raftNavIconClose,
.raftNavWrapper .raftNavArrow.openedState .raftNavIconOpen {
	display: none;
}

.raftNavWrapper .raftNavArrow.openedState .raftNavIconClose,
.raftNavWrapper .raftNavArrow.ClosedState .raftNavIconOpen {
	display: block;
}

.raftNavWrapper .raftNavArrow {
	position: absolute;
	top: 0;
	right: 12px;
}

.raftNavWrapper .raftNavArrow [class^="fa fa-"] {
	font-size: 30px;
	line-height: 50px;
	color: #3F3F3F;
}

.raftNav {
	display: none;
	position: relative;
}

.raftNav i[class^="fa fa-"] {
	display: none;
}

.raftNav ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

.raftNav li {
	padding: 0;
	margin: 0;
	position: relative;
}

.raftNav a {
    display: block;
    font-size: 18px;
    line-height: 50px;
    font-weight: bold;
    padding-left: 12px;
    text-decoration: none;
    -webkit-transition: all .30s linear;
    -moz-transition: all .30s linear;
    -o-transition: all .30s linear;
    transition: all .30s linear;
    z-index: 5;
    border-top: 1px solid #D3D3D3;
    background: #FFFFFF;
    color: #777777;
}

.raftNav a:hover {
    -webkit-transition: all .30s linear;
    -moz-transition: all .30s linear;
    -o-transition: all .30s linear;
    transition: all .30s linear;
    color: #A9A9A9;
    background: #FFFFFF;
}

.raftNav a.current {
	cursor: default;
}

.raftNav ul > li.suppressedLink > a {
	cursor: default;
}

.raftNav .currentListItem ul li {
	display: block;
}

.raftNav .currentAncestorListItem ul li {
	display: block;
}

.raftNav ul ul a {
	padding-left: 30px;
}	

.raftNav ul ul ul a {
	padding-left: 60px;
}	

.raftNav ul ul ul ul a {
	padding-left: 90px;
}	

.raftNav ul ul ul ul ul a {
	padding-left: 120px;
}

/* @end */


/* @group Content Container */

#contentContainer {
	display: block;
	position: relative;
}

#contentContainer #content {
	padding: 0;
	margin: 0;
	position: relative;
	overflow: hidden;
}

#contentWrapper {
	display: block;
	position: relative;
}

/* @end */

/* @group Back To Top */

#backToTopWrapper {
	display: none;
	position: fixed;
	bottom: 20%;
	right: 5%;
	z-index: 100;
	line-height: 50px;
	font-size: 50px;
	height: 50px;
	overflow: hidden;
	float: none;
	width: 53px;
	text-align: center;
	background: white;
	border-radius: 50px;
	border: none;
	outline: none;
}

#backToTopWrapper a [class^="fa fa-"] {
	transition: all 300ms ease-in-out;
	-webkit-transition: all 300ms ease-in-out;
}

/* @end */

/* @group Search Function */

#headerSearch {
	display: none;
	position: relative;
	margin-top: 10px;
	margin-bottom: 10px;
	text-align: right;
}

#sideSearch {
	display: none;
	position: relative;
	margin-top: 10px;
	margin-bottom: 10px;
}

#sideSearch input {
	margin-bottom: 10px;
}

/* @end */

/* @group Sidebar */

aside {
	display: block;
}

#sidebarTitle h3 {
	line-height: 1.25em;
	padding: 0;
	margin: 0;
}

#sidebar {
	display: block;
	position: relative;
}

#pluginSidebar {
	display: block;
	position: relative;
}

/* @end */

/* @group Sidebar Block Navigation */

#mainNavSource {
	display: none;
}

#blockNav {
	display: none;
	position: relative;
	margin-bottom: 20px;
}

#blockNav i[class^="fa fa-"] {
	display: none;
}

#blockNav ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

#blockNav li {
	padding: 0;
	margin: 0;
}

#blockNav a {
	display: block;
	text-decoration: none;
}

#blockNav ul ul a {
	padding-left: 20px;
}

#blockNav ul ul ul a {
	padding-left: 40px;
}

#blockNav ul ul ul ul a {
	padding-left: 60px;
}

#blockNav ul ul ul ul ul a {
	padding-left: 80px;
}

#blockNav ul ul ul ul ul ul a {
	padding-left: 100px;
}

#blockNav li.currentListItem ul ul {
	display: none !important;
}

/* @end */

/* @group Footer Container */

#footer {
	display: block;
	width: 100%;
	position: relative;
	clear: both;
	overflow: auto;
	padding: 15px 0;
	margin: 0;
}

#footerContent {
	display: block;
	position: relative;
}

#leftFooter {
	position: relative;
	display: inline;
	float: left;
}

#footerText {
	position: relative;
}

#footerText a,
#footerText a:hover {
	text-decoration: none;
}

#lastUpdated {
	position: relative;
	display: none;
}

/* @end */

/* @group Footer Navigation Links */

#footerNav {
	display: none;
	position: relative;
	float: right;
}

#footerNav ul {
	display: inline;
	list-style: none;
	padding: 0;
	margin: 0;
}

#footerNav li {
	display: inline;
	float: left;
	padding: 0 0 0 15px;
	margin: 0;
}

#footerNav li a {
	display: block;
	z-index: 20;
	margin: 0;
}

#footerNav li p {
	display: block;
	text-decoration: none;
	cursor: default;
	z-index: 30;
	margin: 0;
}

#footerNav ul ul {
	display: none;
}

/* @end */
/* @group Breadcrumb */

#breadcrumb {
	display: block;
	position: relative;
	line-height: 1.50em;
	width: 100%;
	border-bottom: 1px solid #333;
	border-top: 1px solid #333;
}

#breadcrumb i[class^="fa fa-"] {
	display: none;
}

#breadcrumb ul {
	list-style: none;
	margin: 0 0 0 0;
	padding: 0;
	display: inline;
}

#breadcrumb li {
	display: inline;
}

#breadcrumb li a {
	display: inline;
	text-decoration: none;
	z-index: 20;
	margin: 0;
}

#breadcrumb li p {
	display: inline;
	text-decoration: none;
	cursor: default;
	z-index: 30;
	margin: 0;
}

/* @end */


