
#stacks_in_134_page1 .stacks_left {
	float:left;
	width:49%;
}

#stacks_in_134_page1 .stacks_right {
	float:right;
	width:49%;
}
#stacks_in_104_page1 {
	margin:  20px;
}

#stacks_in_259_page1 {
	margin: 0px 20px 0px 20px;
	padding: 0px 20px 0px 20px;
}


#stacks_in_321_page1 {
	margin:  4px;
	padding:  5px;
}


#stacks_in_325_page1 {
	margin:  4px;
	padding:  5px;
}


#stacks_in_331_page1 {
	margin:  4px;
	padding:  5px;
}


#stacks_in_317_page1 {
	margin:  4px;
	padding:  5px;
}


#stacks_in_323_page1 {
	margin:  4px;
	padding:  5px;
}


#stacks_in_315_page1 {
	margin:  4px;
	padding:  5px;
}


#stacks_in_329_page1 {
	margin:  4px;
	padding:  5px;
}


#stacks_in_327_page1 {
	margin:  4px;
	padding:  5px;
}


#stacks_in_319_page1 {
	margin:  4px;
	padding:  5px;
}
