/* @option user-selected social widget position */

#socialBar {
	display: block;
	position: relative;
	padding: 10px 0;
}

@media screen and (min-width: 568px) {
#socialBar {
	display: block;
	position: absolute;
	top: 50px;
	right: 0px;
	left: auto;
	width: auto;
	height: auto;
	padding: 10px;
	-webkit-border-radius: 5px 0px 0px 5px;
	border-radius: 5px 0px 0px 5px;
	text-align: center;
}

#socialBarBackground {
	-webkit-border-radius: 5px 0px 0px 5px;
	border-radius: 5px 0px 0px 5px;
	height: 100%;
}
}