/* @option user selected socialBar setting */
#socialBar {
	display: block;
	position: relative;
	padding: 10px 0;
}

@media screen and (min-width: 568px) {

#socialBar {
	display: block;
	position: absolute;
	padding: 0;
}

#socialBar,
#socialBarBackground,
#socialBarSpacer {
	height: 20px;
}

#extraContainer1 {
	line-height: 20px;
}
}