/* @option user-selected #navigation menu position setting */

/* Half drop-down width */
#mainNav ul ul {
	margin-left: -63px;
}

/* Drop-down width */
#mainNav ul ul li {
	width: 125px;
}

/* Drop-down width - 10px padding */
#mainNav ul ul ul {
	left: 115px;
}