/* @group User selected navigation style */

#mainNav ul ul,
#mainNav span.arrow {
	display: none !important;
}

#mainNav ul li a {
	padding-right: 15px !important;
}

#blockNav ul ul.toolbarList li {
	display: none;
}

#blockNav ul li.currentListItem li,
#blockNav ul li.currentAncestorListItem li {
	display: block !important;
}

#blockNav {
	display: block;
}

#blockNav ul li a {
	display: none;
}

#blockNav ul ul li a {
	display: block;
	padding-left: 0px;
}

#blockNav ul ul ul li a {
	padding-left: 20px;
}

#blockNav ul ul ul ul li a {
	padding-left: 40px;
}

#blockNav ul ul ul ul ul li a {
	padding-left: 60px;
}

#blockNav ul ul ul ul ul li a {
	padding-left: 80px;
}