
#stacks_in_355_page18 {
	padding:  7px;
}

#stacks_in_375_page18 .stacks_left {
	float:left;
	width:26%;
}

#stacks_in_375_page18 .stacks_right {
	float:right;
	width:72%;
}
#stacks_in_375_page18 {
	padding: 0px 0px 20px 0px;
}




.img-responsive,
.thumbnail > img,
.thumbnail a > img,
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
  margin:0 auto;
}


#stacks_in_379_page18 {
	padding: 26px 0px 0px 0px;
}

.stacks_column_left {
	float:left;
}

.stacks_column_right {
	float:right;
}

.stacks_column_5 {
	width:18%;
	margin: 0 1%;
}

.stacks_column_center {
	margin:0 41%;
}