/* @option user selected content background setting */

#bannerBoxBackground {
	-moz-opacity: 0.20;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
	filter: alpha(opacity=20);
	opacity: 0.20;
}