/* @option user selected content background setting */

#bannerBoxBackground {
	-moz-opacity: 0.30;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
	filter: alpha(opacity=30);
	opacity: 0.30;
}