/* @option user selected content background setting */

#bannerBoxBackground {
	-moz-opacity: 0.35;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=35)";
	filter: alpha(opacity=35);
	opacity: 0.35;
}