/* @option user selected content background setting */

#bannerBoxBackground {
	-moz-opacity: 0.40;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
	filter: alpha(opacity=40);
	opacity: 0.40;
}