/* @option user selected content background setting */

#bannerBoxBackground {
	-moz-opacity: 0.55;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=55)";
	filter: alpha(opacity=55);
	opacity: 0.55;
}