/* @option user selected content background setting */

#bannerBoxBackground {
	-moz-opacity: 0.60;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
	filter: alpha(opacity=60);
	opacity: 0.60;
}