/* @option user selected content background setting */

#bannerBoxBackground {
	-moz-opacity: 0.70;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
	filter: alpha(opacity=70);
	opacity: 0.70;
}