/* @option user-selected RAFT setting */

@media screen and (max-width: 769px) {

#headerWrapper {
	position: relative;
}

#headingPadding {
	margin: 30px 10px !important;
}

#headerFill {
	opacity: 1.00 !important;
}

} /* End @media block */