@media screen and (max-width: 769px) {

.floodSpacer, #headerMargin {
	height: 10px;
}

#headingPadding {
	margin: 10px !important;
}

#headerContent {
	width: auto;
	float: none;
	text-align: left;
}

#headerWrapper #header,
#headerWrapper.smaller #header {
	padding-top: 10px;
	padding-bottom: 10px;
}

#navContent {
	position: relative;
}

#mainNav {
	margin-left: -15px;
}

#parallaxContainer {
	padding-top: 10px;
}

#aside {
	float: none;
	width: 100%;
	display: block;
	width: auto;
	clear: both;
	margin: 10px 0 0;
	padding: 0;
}

#upperHorizontalBar, 
#middleHorizontalBar,
#lowerHorizontalBar {
	margin-top: 10px;
}

#contentContainer {
	margin-top: 10px;
	margin-bottom: 10px;
}

#contentContainer #content {
	margin-left: 0px;
	margin-right: 0px;
	float: none;
	width: 100%;
}

#contentContainer #contentWrapper {
	column-count: 1;
    -moz-column-count: 1;  
    -webkit-column-count: 1;
    column-gap: 0px;   
    -moz-column-gap: 0px;  
    -webkit-column-gap: 0px; 
}

#footerNav {
	display: none !important;
}

#leftFooter,
#footerContent {
	text-align: center;
	float: none;
	display: block;
}

} /* End @media block */